/* universal selector */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 0;
}

/* font family */

@font-face {
    font-family: "Mazzard";
    src: url("./fonts/Mazzard-Regular.ttf") format ("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Mazzard";
    src: url("./fonts/Mazzard-SemiBold.otf") format ("truetype");
    font-weight: 600;
}

/* variables */

:root {
    /* colors */
    --pure-white: #fff;
    --super-dark-navy: #213053;
    --orange: #f18b62;
    --blue: #1787fc;
    --orange-red: #ff794d;
    --light-blue: #ebf5ff;
    --dark-navy: #1d263a;
    --regular-green: #20bfa9;
    --mint-green: #d6ebe4;
    --golden-yellow: #ffcd28;
    --forest-green: #46b375;
    --super-dark-grey: #2e2e36;
    --gray: rgba(223, 223, 223, 0.7);
    --dark-gray: #7f828a;
    --super-dark-green: #105559;
    --pearl-white: #f9fafb;
    --pink: #f86c9c;
    --light-gray: #f5f5f5;
    --super-light-pink: #f5f5f5;
    --super-dark-brown: #270000;
    --red: #f8574c;
    --dark-green: #2d947a;
    --baby-pink: #fae2da;

    /* font size */

    --space-11: 11px;
    --space-13: 13px;
    --space-16: 16px;
    --space-18: 18px;
    --space-21: 21px;
    --space-24: 24px;
    --space-28: 28px;
    --space-32: 32px;
    --space-36: 36px;
    --space-42: 42px;
    --space-48: 48px;
    --space-60: 60px;
    --space-64: 64px;
    --space-70: 70px;
    --space-80: 80px;
    --space-96: 96px;
    --space-110: 110px;
}
