/* header-section */

.header-content {
    padding: 42px 152px;
}

.logo {
    display: inline-block;
    color: var(--super-dark-navy);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.2px;
    width: 10%;
}

.logo span {
    color: var(--orange);
    font-size: 24px;
}

nav {
    display: inline-block;
    width: 80%;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav ul li:not(:last-child) {
    margin-right: 50px;
}

header a {
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
    color: var(--dark-navy);
    font-style: normal;
    font-weight: 600px;
    line-height: 30px;
}

.sign-in {
    width: 10%;
    text-align: right;
}

/* hero-section */

#hero .container {
    padding: 0 62px;
}

.hero-section-content {
    background-color: rgba(250, 226, 218, 0.5);
    border-radius: 30px;
    padding: 129px 92px;
}

.hero-left {
    display: inline-block;
    width: 40%;
}

.hero-image-wrapper {
    position: relative;
}

.hero-image-wrapper img {
    max-width: 100%;
}

.chair {
    position: relative;
    z-index: 1;
}

.green-circle {
    position: absolute;
    left: 0;
}

.hero-right {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    /* margin-top: 80px; */
}

.hero-right p:first-child {
    color: var(--orange-red);
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 6px;
    margin-bottom: 34px;
    text-transform: uppercase;
}

.hero-right h1 {
    color: var(--dark-navy);
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 66px;
    letter-spacing: -1px;
    margin-bottom: 27px;
    width: 60%;
}

.hero-right p:nth-last-of-type(2) {
    color: var(--dark-navy);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 58px;
    width: 50%;
}

#hero hr {
    width: 40px;
    height: 4px;
    background-color: var(--orange-red);
    border: none;
    border-radius: 3px;
    display: inline-block;
    margin-right: 25px;
}

.hero-right p:last-child {
    color: var(--dark-navy);
    display: inline-block;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

/* features-section */

.features-content {
    padding: 100px 152px;
}

.features-card {
    display: inline-block;
    vertical-align: top;
    width: calc((100% - 130px) / 3);
}

.features-card:not(:last-child) {
    margin-right: 65px;
}

.features-image-wrapper {
    display: inline-block;
    width: 30%;
    width: calc(100% + 37px - 70%);
    position: relative;
}

.features-image-wrapper img:first-child {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.features-image-wrapper img:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.features-text-wrapper {
    display: inline-block;
    width: calc(100% - 37px - 30%);
    vertical-align: top;
}

.features-text-wrapper h2 {
    color: var(--dark-navy);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.3px;
    margin-bottom: 15px;
}

.features-text-wrapper p {
    font-size: 15px;
    color: var(--dark-navy);
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.800000011920929;
}

/* product-slider-section */

.product-slider-content {
    padding: 102px 152px;
}

.product-slider-content h2 {
    color: var(--dark-navy);
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 50.4px;
    letter-spacing: -1px;
    display: inline-block;
    width: calc(100% - 557px);
}

.arrow-images {
    display: inline-block;
    width: calc(100% - 739px);
    text-align: right;
}

.arrow-right {
    margin-left: 22px;
}

.product-slider-top {
    margin-bottom: 46px;
}

.img-card {
    display: inline-block;
    width: calc((100% - 40px) / 3);
    vertical-align: top;
    height: 680px;
}

.img-card img:not(.price-tag img) {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.img-card:not(:last-child) {
    margin-right: 20px;
}

.last-image-card {
    position: relative;
}

.price-tag {
    width: 80%;
    border-radius: 10px;
    background-color: var(--pure-white);
    position: absolute;
    bottom: 15px;
    right: 65px;
    padding: 23px 75px 18px 29px;
}
.price-tag span {
    color: var(--orange-red);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -1px;
    display: block;
    margin-bottom: 10px;
}

.price-tag p {
    color: var(--dark-navy);
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 4px;
    text-transform: uppercase;
    display: inline-block;
}

.price-tag img {
    position: absolute;
    right: 20px;
}

/* working-process-section */

.working-process-content {
    padding: 102px 152px;
}

.working-process-content h2 {
    color: var(--dark-navy);
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 4px;
    opacity: 0.699999988079071;
    margin-bottom: 113px;
    text-transform: uppercase;
}

.steps-wrapper span:first-child {
    color: var(--regular-green);
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.5px;
    display: inline-block;
    width: calc((100% - 318px) * 0.1);
    margin-right: 74px;
    vertical-align: top;
}

.steps-wrapper h3 {
    color: var(--dark-navy);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: -1px;
    display: inline-block;
    width: calc((100% - 318px) * 0.25);
    margin-right: 90px;
    vertical-align: top;
}

.steps-wrapper p {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    opacity: 0.6000000238418579;
    display: inline-block;
    width: calc((100% - 318px) * 0.35);
    margin-right: 150px;
}

.steps-wrapper .learn-more-wrapper {
    display: inline-block;
    width: calc((100% - 318px) * 0.3);
}

.learn-more-wrapper hr {
    width: 30px;
    height: 4px;
    background-color: var(--orange-red);
    border: none;
    border-radius: 3px;
    display: inline-block;
    margin-right: 26px;
}

.learn-more-wrapper span {
    color: var(--dark-navy);
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 4px;
    display: inline-block;
}

.steps-wrapper:not(:last-child) {
    margin-bottom: 170px;
}

/* marketing-section */

.marketing-content {
    background-color: var(--pearl-white);
    padding: 177px 152px;
}

.marketing-left {
    width: 50%;
    display: inline-block;
}

.marketing-image-wrapper {
    position: relative;
}

.marketing-image-wrapper img:first-child {
    max-width: 100%;
    border-radius: 15px;
}

.marketing-image-wrapper img:last-child {
    position: absolute;
    bottom: -20%;
    left: 65%;
    transform: translate(-50%, -50%);
}

.marketing-right {
    width: 50%;
    display: inline-block;
    /* padding: 265px 130px; */
    vertical-align: top;
}

.marketing-right h3 {
    color: var(--dark-navy);
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 50.4px;
    letter-spacing: -1px;
    margin-bottom: 19px;
}

.marketing-right p {
    color: var(--dark-navy);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    opacity: 0.6000000238418579;
    margin-bottom: 46px;
}

.marketing-right .explore-wrapper hr {
    width: 40px;
    height: 4px;
    background-color: var(--orange-red);
    border: none;
    border-radius: 3px;
    display: inline-block;
    margin-right: 24px;
}

.marketing-right .explore-wrapper span {
    color: var(--dark-navy);
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

/* testimonial-section */

.testimonial-container {
    margin-bottom: 136px;
}

.testimonial-left {
    width: 50%;
    background-color: var(--orange-red);
    display: inline-block;
    padding: 227px 110px 201px 152px;
    vertical-align: top;
}

.testimonial-left .text-wrapper blockquote {
    color: var(--pure-white);
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 50.4px;
    letter-spacing: -1px;
    margin-bottom: 62px;
}

.testimonial-left .text-wrapper .cite-person-wrapper p {
    color: var(--pure-white);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.3px;
    display: inline-block;
}

.testimonial-left .text-wrapper .cite-person-wrapper hr {
    width: 30px;
    height: 4px;
    background-color: var(--pure-white);
    border: none;
    border-radius: 3px;
    display: inline-block;
    margin-right: 25px;
}

.testimonial-left .text-wrapper span {
    color: var(--pure-white);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    opacity: 0.800000011920929;
    display: inline-block;
    /* width: 39%;
    text-align: right;
    background-color: chartreuse; */
}

.testimonial-right {
    width: 50%;
    background-color: chartreuse;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.lady-image-wrapper img {
    width: 100%;
    object-fit: cover;
}

.testimonial-right .play-button-image-wrapper {
    width: 92px;
    height: 92px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.testimonial-right .play-button-image-wrapper img:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* newsletter-section */

.newsletter-content {
    display: inline-block;
    padding: 136px 498px;
}

.newsletter-content :not(.email-wrapper) {
    text-align: center;
}

.newsletter-content h3 {
    color: var(--dark-navy);
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 50.4px;
    letter-spacing: -1px;
    margin-bottom: 36px;
}

.newsletter-content p {
    color: var(--dark-navy);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    opacity: 0.699999988079071;
    margin-bottom: 57px;
    display: inline-block;
}

.email-wrapper {
    height: 70px;
    margin-bottom: 33px;
    position: relative;
}

.email-wrapper input {
    width: 60%;
    height: 100%;
    border: 1px solid var(--gray);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: var(--dark-navy);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-left: 28px;
}

.email-wrapper button {
    width: 40%;
    height: 100%;
    background-color: var(--regular-green);
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 4px;
    text-transform: uppercase;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    position: absolute;
}

.note-wrapper img {
    margin-right: 20px;
}

.note-wrapper img,
.note-wrapper p {
    display: inline-block;
}

/* footer-section */

footer {
    margin-bottom: 63px;
}

footer .container {
    padding: 0 61px;
}

.footer-content {
    background-color: rgba(250, 226, 218, 0.5);
    border-radius: 30px;
    padding: 135px 92px;
}

.footer-content-card {
    display: inline-block;
    width: calc((100% - 360px) / 4);
}

.footer-content-card:not(:last-child) {
    margin-right: 120px;
}

footer li {
    color: var(--dark-navy);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    opacity: 0.699999988079071;
    list-style-type: none;
}

footer li:not(:last-child) {
    margin-bottom: 22px;
}

footer h4 {
    color: var(--dark-navy);
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 4px;
    margin-bottom: 73px;
}

footer h4:not(.logo-about h4) {
    text-transform: uppercase;
}

.logo-about h4 {
    color: var(--super-dark-navy);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.2px;
    margin-bottom: 70px;
}

.logo-about span {
    font-size: 24px;
    color: var(--orange);
}

.logo-about p {
    color: var(--dark-navy);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    opacity: 0.699999988079071;
    margin-bottom: 46px;
}
