/* header-section */

.header-content {
    padding: 4.2rem 15.2rem;
}
.logo {
    display: inline-block;
    color: var(--super-dark-navy);
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.2px;
    width: calc(((80 * 100) / 1296) * 1%);
    margin-right: calc(((354 * 100) / 1296) * 1%);
}

.logo span {
    color: var(--orange);
    font-size: 2.4rem;
}

nav {
    display: inline-block;
    text-align: center;
    width: calc(((429 * 100) / 1296) * 1%);
    margin-right: calc(((379 * 100) / 1296) * 1%);
}

nav li {
    display: inline-block;
}

nav ul li:not(:last-child) {
    margin-right: 5rem;
}

header a {
    text-decoration: none;
    font-size: 1.7rem;
    display: inline-block;
    color: var(--dark-navy);
    font-style: normal;
    font-weight: 600;
    line-height: 3rem;
}

.sign-in {
    width: calc(((54 * 100) / 1296) * 1%);
}

/* hero-section */

#hero .container {
    padding: 0 6.2rem;
}

.hero-section-content {
    background-color: rgba(250, 226, 218, 0.5);
    border-radius: 3rem;
    padding: 12.9rem 9.2rem;
}

.hero-left {
    display: inline-block;
    width: 40%;
    vertical-align: middle;
    position: relative;
}

.hero-image-wrapper img {
    max-width: 100%;
}

.chair {
    position: relative;
    z-index: 1;
}

.green-circle {
    width: calc(((350 * 100) / 566) * 1%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-18%, -65%);
}

.hero-right {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    vertical-align: middle;
    padding-left: 10rem;
}

.hero-right p:first-child {
    color: var(--orange-red);
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.2rem;
    letter-spacing: 0.6rem;
    margin-bottom: 3.4rem;
    text-transform: uppercase;
}

.hero-right h1 {
    color: var(--dark-navy);
    font-size: 6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 6.6rem;
    letter-spacing: -0.1rem;
    margin-bottom: 2.7rem;
    width: calc(((659 * 100) / 850) * 1%);
}

.hero-right p:nth-last-of-type(2) {
    color: var(--dark-navy);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.8rem;
    margin-bottom: 5.8rem;
    width: calc(((550 * 100) / 850) * 1%);
}

#hero hr {
    width: 4rem;
    height: 0.4rem;
    background-color: var(--orange-red);
    border: none;
    border-radius: 0.3rem;
    display: inline-block;
    margin-right: 2.5rem;
}

.hero-right p:last-child {
    color: var(--dark-navy);
    display: inline-block;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.2rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
}

/* features-section */

.features-content {
    padding: 10rem 15.2rem;
}

.features-card {
    display: inline-block;
    vertical-align: top;
    width: calc((100% - 130px) / 3);
}

.features-card:not(:last-child) {
    margin-right: calc(((65 * 100) / 1296) * 1%);
}

.features-image-wrapper {
    display: inline-block;
    width: calc(((80 * 100) / 319) * 1%);
    margin-right: calc(((37 * 100) / 319) * 1%);
    position: relative;
}

.features-image-wrapper img:first-child {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.features-image-wrapper img:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.features-text-wrapper {
    display: inline-block;
    width: calc(((200 * 100) / 319) * 1%);
    vertical-align: top;
}

.features-text-wrapper h2 {
    color: var(--dark-navy);
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.2rem;
    letter-spacing: -0.03rem;
    margin-bottom: 1.5rem;
}

.features-text-wrapper p {
    font-size: 1.5rem;
    color: var(--dark-navy);
    font-style: normal;
    font-weight: 400;
    line-height: 2.8rem;
    opacity: 0.8;
}

/* product-slider-section */

.product-slider-content {
    padding: 10.2rem 15.2rem;
}

.product-slider-content h2 {
    color: var(--dark-navy);
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 5rem;
    letter-spacing: -0.1rem;
    display: inline-block;
    width: calc(100% - 7.2rem);
}

.arrow-images {
    display: inline-block;
    text-align: right;
}

.arrow-right {
    margin-left: 2.2rem;
}

.product-slider-top {
    margin-bottom: 4.6rem;
}

.img-card {
    display: inline-block;
    width: calc((100% - 40px) / 3);
    vertical-align: top;
    height: 68rem;
}

.img-card img:not(.price-tag img) {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}

.img-card:not(:last-child) {
    margin-right: 2rem;
}

.last-image-card {
    position: relative;
}

.price-tag {
    width: 80%;
    border-radius: 1rem;
    background-color: var(--pure-white);
    position: absolute;
    bottom: 1.5rem;
    right: 6.5rem;
    padding: 2.3rem 7.5rem 1.8rem 2.9rem;
}
.price-tag span {
    color: var(--orange-red);
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4.2rem;
    letter-spacing: -0.1rem;
    display: block;
    margin-bottom: 1rem;
}

.price-tag p {
    color: var(--dark-navy);
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.2rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    display: inline-block;
}

.price-tag img {
    position: absolute;
    right: 2rem;
}

/* working-process-section */

.working-process-content {
    padding: 15.2rem 16.5rem;
}

.working-process-content h2 {
    color: var(--dark-navy);
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3rem;
    letter-spacing: 0.4rem;
    opacity: 0.7;
    margin-bottom: 11.3rem;
    text-transform: uppercase;
}

.steps-wrapper span:first-child {
    color: var(--regular-green);
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4rem;
    letter-spacing: -0.05rem;
    display: inline-block;
    width: calc(((36 * 100) / 1270) * 1%);
    margin-right: calc(((74 * 100) / 1270) * 1%);
    vertical-align: top;
}

.steps-wrapper h3 {
    color: var(--dark-navy);
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4.6rem;
    letter-spacing: -0.1rem;
    display: inline-block;
    width: calc(((306 * 100) / 1270) * 1%);
    margin-right: calc(((90 * 100) / 1270) * 1%);
    vertical-align: top;
}

.steps-wrapper p {
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    opacity: 0.6;
    display: inline-block;
    width: calc(((416 * 100) / 1270) * 1%);
    margin-right: calc(((150 * 100) / 1270) * 1%);
}

.steps-wrapper .learn-more-wrapper {
    display: inline-block;
    width: calc(((179 * 100) / 1270) * 1%);
}

.learn-more-wrapper hr {
    width: 3rem;
    height: 0.4rem;
    background-color: var(--orange-red);
    border: none;
    border-radius: 0.3rem;
    display: inline-block;
    margin-right: 2.6rem;
}

.learn-more-wrapper span {
    color: var(--dark-navy);
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.2rem;
    letter-spacing: 0.4rem;
    display: inline-block;
}

.steps-wrapper:not(:last-child) {
    margin-bottom: 17rem;
}

/* marketing-section */

.marketing-content {
    background-color: var(--pearl-white);
}

.marketing-left {
    width: 40%;
    display: inline-block;
    vertical-align: middle;
    padding: 17.7rem 0 19rem 15.1rem;
}

.marketing-image-wrapper {
    position: relative;
}

.marketing-image-wrapper img:first-child {
    max-width: 100%;
    border-radius: 1.5rem;
}

.marketing-image-wrapper img:last-child {
    position: absolute;
    bottom: -25%;
    left: 65%;
    transform: translate(-50%, -50%);
}

.marketing-right {
    width: 60%;
    display: inline-block;
    vertical-align: middle;
    padding: 0 33.8rem 0 17.6rem;
}

.marketing-right h3 {
    color: var(--dark-navy);
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 5rem;
    letter-spacing: -0.1rem;
    margin-bottom: 1.9rem;
    width: 70%;
}

.marketing-right p {
    color: var(--dark-navy);
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    opacity: 0.6;
    margin-bottom: 4.6rem;
}

.marketing-right .explore-wrapper hr {
    width: 4rem;
    height: 0.4rem;
    background-color: var(--orange-red);
    border: none;
    border-radius: 0.3rem;
    display: inline-block;
    margin-right: 2.4rem;
}

.marketing-right .explore-wrapper span {
    color: var(--dark-navy);
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.2rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
}

/* testimonial-section */

.testimonial-left {
    width: 50%;
    background-color: var(--orange-red);
    display: inline-block;
    padding: 22.7rem 11rem 20.1rem 15.2rem;
    vertical-align: top;
}

.testimonial-left blockquote {
    color: var(--pure-white);
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 5rem;
    letter-spacing: -0.1rem;
    margin-bottom: 6.2rem;
}

.testimonial-left .cite-person-wrapper p {
    color: var(--pure-white);
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.2rem;
    letter-spacing: -0.03rem;
    display: inline-block;
}

.testimonial-left .cite-person-wrapper hr {
    width: 3rem;
    height: 0.4rem;
    background-color: var(--pure-white);
    border: none;
    border-radius: 0.3rem;
    display: inline-block;
    margin-right: 2.5rem;
}

.testimonial-left span {
    color: var(--pure-white);
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    opacity: 0.8;
    display: inline-block;
    padding-left: 5.5rem;
}

.testimonial-right {
    width: 50%;
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.lady-image {
    width: 100%;
    height: 70.35rem;
    object-fit: cover;
}

.play-button-image-wrapper {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play-button-image-wrapper img:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* newsletter-section */

.newsletter-content {
    display: inline-block;
    padding: 13.6rem 50rem;
}

.newsletter-content :not(.email-wrapper) {
    text-align: center;
}

.newsletter-content h3 {
    color: var(--dark-navy);
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 5rem;
    letter-spacing: -0.1rem;
    margin-bottom: 3.6rem;
}

.newsletter-content p {
    color: var(--dark-navy);
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    opacity: 0.7;
    margin-bottom: 5.7rem;
    display: inline-block;
}

.email-wrapper {
    height: 7rem;
    margin-bottom: 3.3rem;
    position: relative;
}

.email-wrapper input {
    width: 60%;
    height: 100%;
    border: 0.1rem solid var(--gray);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    color: var(--dark-navy);
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    padding-left: 2.8rem;
}

.email-wrapper button {
    width: 40%;
    height: 100%;
    background-color: var(--regular-green);
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.2rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    border: none;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    cursor: pointer;
    position: absolute;
}

.note-wrapper img {
    margin-right: 2rem;
}

.note-wrapper img,
.note-wrapper p {
    display: inline-block;
}

/* footer-section */

footer {
    margin-bottom: 6.3rem;
}

footer .container {
    padding: 0 6.1rem;
}

.footer-content {
    background-color: rgba(250, 226, 218, 0.5);
    border-radius: 3rem;
    padding: 13.5rem 9.2rem;
}

.footer-content-card {
    display: inline-block;
    width: calc((100% - 36rem) / 4);
}

.footer-content-card:not(:last-child) {
    margin-right: 12rem;
}

footer li {
    color: var(--dark-navy);
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    opacity: 0.7;
    list-style-type: none;
}

footer li:not(:last-child) {
    margin-bottom: 2.2rem;
}

footer h4 {
    color: var(--dark-navy);
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.2rem;
    letter-spacing: 0.4rem;
    margin-bottom: 7.3rem;
}

footer h4:not(.logo-about h4) {
    text-transform: uppercase;
}

.logo-about h4 {
    color: var(--super-dark-navy);
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.02rem;
    margin-bottom: 7rem;
}

.logo-about span {
    font-size: 2.4rem;
    color: var(--orange);
}

.logo-about p {
    color: var(--dark-navy);
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    opacity: 0.7;
    margin-bottom: 4.6rem;
}
